<div style="padding:20px">
	<h1>API Cariin v1</h1>
	<h3>Resource URL</h3>
	<p>http://cariin.herokuapp.com/api/v1/products</p>

	<table>
		<tr>
			<th><h3>Parameter</h3></th>
		</tr>
		<tr>
			<td>name</small></td>
			<td>Menyatakan nama barang yang ingin dimasukkan ke dalam query.</td>
		</tr>
		<tr>
			<td>category</td>
			<td>Menyatakan kategori dari nama barang yang ingin dimasukkan ke dalam query</td>
		</tr>
		<tr>
			<td>location <small>(optional)</td>
			<td>Menyatakan lokasi pencarian</td>
		</tr>
	</table>

	<h3>Contoh Request</h3>
	<table>
		<tr>
			<td>POST</td>
			<td>http://cariin.herokuapp.com/api/v1/products</td>
		</tr>
		<tr>
			<td>POST data</td>
			<td>name=vario</td>
		</tr>
	</table>
</div>